<!DOCTYPE html>
<html>
<head>
  <title>Flashcards</title>
</head>
<body>
  <h1>Flashcard Sets</h1>
  <ul>
    <% sets.forEach(set => { %>
      <li><%= set.name %></li>
    <% }) %>
  </ul>
</body>
</html>
